#{extends 'main.html' /}
<div  class="alert alert-success">
<p>この文書はSalesforceAPIのJavaラッパーである<a href="http://oss.flect.co.jp/libs/ja/flectSalesforce.html">flectSalesforce</a>の使い方を説明するモノです。</p>
<p>社内向けに書いたので説明の荒いところもありますが、おおよその使い方は理解できると思います。</p>
<p>また、このアプリケーション自体がPlay1でSalesforceと連携するサンプルになっています。</p>
</div>
<h2>前準備</h2>
<div>
	<h3>依存性の解決</h3>
	<p><a href="https://github.com/shunjikonishi/salesforceClient-sample/blob/master/conf/dependencies.yml">conf/dependencies.yml</a>にflectSalesforceで使用するライブラリ情報を記述して「play deps」を実行します。</p>
	<p>バグ修正等によりリリースバージョンよりも新しいバージョンが必要になった場合は直接libフォルダにjarファイルをコピーしてください。</p>
</div>
<div>
	<h3>環境変数の設定</h3>
	<p>このサンプルではSalesforceへの接続情報を環境変数から取得しています。</p>
	<p>このため環境変数に以下の3つの変数を設定する必要があります。</p>
	<ul>
		<li>SALESFORCE_USERNAME=API接続に使用するユーザー名</li>
		<li>SALESFORCE_PASSWORD=API接続に使用するユーザーのパスワード</li>
		<li>SALESFORCE_TOKEN=API接続に使用するユーザーのセキュリティトークン</li>
	</ul>
</div>
<div>
	<h3>WSDLの取得</h3>
	<p>SalesforceClientを使用するためにはWSDLファイルが必要です。</p>
	<p>ここではSalesforceの「設定 ＞ 開発 ＞ API」の画面から取得したパートナーWSDLを「conf/partner.wsdl」として保存しています。</p>
</div>
