#{extends 'main.html' /}
<h2>SObject</h2>
<div>
	<p><a href="https://github.com/shunjikonishi/salesforceClient-sample/blob/master/app/samples/QuerySample.java">QuerySample.java</a></p>
	<p>SObjectはSalesforceのオブジェクト1レコードに対応するクラスです。</p>
</div>
<div>
	<h3>基本的な使い方</h3>
	<p>SObjectのインスタンスはSalesforceClient#newObjectにオブジェクト名を指定することで生成されます。</p>
	<p>インスタンスに対してはget/setメソッドで名前を指定して自由に値を取得／設定できます。getterに関してはgetString、getInt、getDateなどパース＆キャストを同時に行うユーティリティメソッドもあります。</p>
	<pre>
SalesforceClient client;
SObject obj = client.newObject("Account");
obj.set("Name", "hoge");

Object o = obj.get("Name");
String s = obj.getString("Name");</pre>
	<p class="alert alert-warning">
		Salesforceのフィールド名は大文字小文字を区別しませんが、SObjectのgetter/setterは大文字小文字を区別します。
	</p>
</div>
<div>
	<h3>参照関係と親子関係</h3>
	<p>クエリで参照関係や親子関係を含めてSELECTした場合はそれらのフィールドはSObjectまたはQueryResultとして取得できます。</p>
	<pre>
SObject account;//取引先
QueryResult<SObject> contacts = account.getQueryResult("Contacts");
if (contacts != null) {
	for (SObject c : contacts.getRecords()) {
		System.out.println("Contact: " + c.getString("Name"));
	}
}
SObject createdBy = account.getObject("CreatedBy");
if (createdBy != null) {
	System.out.println("CreatedBy: " + createdBy.getString("Name"));
}</pre>
	<p>
		クエリで取得していないフィールドをgetしようとしてもnullになります。
	</p>
</div>
<div>
	<h3>サブクラスの作成</h3>
	<p><a href="https://github.com/shunjikonishi/salesforceClient-sample/blob/master/app/models/Account.java">Account.java</a></p>
	
	<p>作成したサブクラスをMetaData#registerClassメソッドで登録しておけばSalesforceClient#newObjectでその名前で作成されるオブジェクトはそのクラスになります。</p>
	<p>クエリ実行時には第2引数(またはQueryRequestのReturnClassプロパティ)にClassを設定することでクエリの結果セットのクラスはそのクラスになます。</p>
	<form action="sobject" class="form-horizontal">
		<div class="form-group">
			<label class="col-sm-1 control-label" for="query-id">ID</label>
			<div class="col-sm-4">
				<input id="query-id" name="id" class="form-control" value="${id}">
			</div>
		</div>
		<div class="from-group">
			<div class="col-sm-2">
				<input type="submit" value="実行" class="btn btn-primary">
			</div>
		</div>
	</form>
	#{if account != null}
	<div style="padding-top:50px;">
		<table class="table">
			<tbody>
				<tr>
					<th>Id</th>
					<td>${account.id}</td>
				</tr>
				<tr>
					<th>Name</th>
					<td>${account.name}</td>
				</tr>
				<tr>
					<th>Fax</th>
					<td>${account.fax}</td>
				</tr>
				<tr>
					<th>Phone</th>
					<td>${account.phone}</td>
				</tr>
				<tr>
					<th>LastActivityDate</th>
					<td>${account.lastActivityDate}</td>
				</tr>
			</tbody>
		</table>
	</div>
	#{/if}
	<div class="clearfix"></div>
	<p class="alert alert-info" style="margin-top:20px;">
		<a href="oauth">OAuth</a>の説明ページで実際にOAuthでログインして任意の組織のオブジェクトのサブクラスを生成することができます。
	</p>
</div>
