#{extends 'main.html' /}
<h2>今後の実装予定</h2>
<div class="row">
	<p>このドキュメントを書いていて気になった点や今後実装するかもしれない機能としては以下があります。</p>
	<p><span class="alert-danger">しかし実際に着手するか否かは定かではありません。</span></p>
	<ul>
		<li>SObjectにcreatedDateやcreatedByなどの共通的に存在するフィールドのgetterを追加する</li>
		<li>SObjectDefにDetailUriやEditUriなどの固有情報のgetterを追加する</li>
		<li>CSVとExcelのImportとExport(BulkAPI版)の実装</li>
		<li>MetaDataAPIの実装</li>
	</ul>
	<p>そのたWSDLにあるオペレーションであっても自分が使おうと思ったことがないメソッドについてはすべて未実装です。(mergeとかsendEmailなど)</p>
	<p>必要なものは実装するので足りない機能があれば<a href="https://twitter.com/flect_jp">ご連絡</a>ください。</p>
</div>
