#{extends 'main.html' /}
<h2>Update</h2>
<div class="row">
	<h3>基本的な使い方</h3>
	<p>SObjectの設定したいフィールドに値を設定してupdateメソッドに渡せばOK。</p>
	<p>updateメソッドに渡すSObjectには<span class="alert-danger">IDが設定されている必要があります。</span></p>
	<pre>
SalesforceClient client;

SObject obj = doQuery(...);

//クエリで取得したオブジェクトを直接変更してupdateメソッドに渡すこともできますが、
//ID以外の値が設定されているフィールドはすべて更新対象となるので新しいオブジェクトを
//生成して必要な項目にのみ値を設定する方が効率は良くなります。
SObject newObj = client.newObject("Contact");
newObj.setId(obj.getId());
newObj.set("Name", "hogehoge");

client.update(newObj);</pre>
	<p class="alert alert-info">
		createと同様、複数のオブジェクトをListで渡してまとめて更新することもできます。
	</p>
	<p>
		upsert時に使用する外部IDフィールドは基本的にはオブジェクト定義から自動的に取得されますが、
		オブジェクトに複数の外部IDフィールドがある場合はUpsertRequest#setExternalIdFieldで明示的に指定してください。
	</p>
</div>
